
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.agents/
allure-results/
test-results/
AGENTS.md
tests/.auth/
allure-report/

# Environment variables
.env
.env.test
.env.production
.env.local
